.button {
  background-color: var(--font-color-primary);
  border: none;
  color: white;
  margin: 0 1rem 4rem 1rem;
  border-radius: var(--border-radius);
  font-size: large;
  position: relative;
  padding: 0;
  max-width: max-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button a {
  color: white !important;
}

.button:hover {
  cursor: pointer;
}

.nav_anchor {
  display: inline-block;
  padding: 1rem;
}
