.nav_container {
  position: absolute;
  width: 100%;
  height: var(--nav-height);
  background-color: var(--color-primary);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem 0 2rem;
  margin: 0;
  top: 0;
}

.nav_container a {
  color: white;
}

.nav_link {
  display: none;
  font-size: 1.1rem;
}

.nav_link:hover {
  background-color: var(--color-primary-hover);
}

.nav_brand h1 {
  line-height: 2rem;
}

.nav_brand {
  font-size: large;
  font-family: "Playfair Display";
  position: absolute;
  left: 4%;
  line-height: 2rem;
  display: flex;
  justify-content: center;
  max-width: 15rem;
  max-height: var(--nav-height);
}

.nav_brand h1 {
  font-weight: 400;
  font-size: 1.2rem;
}

.burger {
  right: 8%;
  top: 0;
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
}

.burger_button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.stylyzed_header {
  font-family: "Cinzel Decorative", cursive;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 2rem;
}

.stylyzed_subheader {
  /* text-align: left; */
  position: relative;
  left: 0;
}

@media (min-width: 1300px) {
  .nav_brand {
    max-width: 18rem;
    display: flex;
  }

  .nav_brand h1 {
    font-size: 1.5rem;
  }

  .burger {
    display: none;
  }

  .nav_link {
    margin: 1rem;
    display: inline;
    padding: 1rem;
    border-radius: var(--border-radius);
  }

  .stylyzed_header {
    font-family: "Cinzel Decorative", cursive;
    letter-spacing: 3px;
  }

  .stylyzed_header_secondary {
    font-weight: 400;
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .nav_brand {
    max-width: 18rem;
    display: flex;
  }

  .stylyzed_header {
    font-size: 2.3rem;
  }

  .nav_brand h1 {
    font-size: 1.5rem;
  }

  .nav_brand_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.nav_brand_text {
  display: flex;
  flex-direction: column;
}
