.nav_container {
  position: absolute;
  width: 100%;
  height: var(--nav-height);
  background-color: steelblue;
  /* background-color: #354259; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 2rem 0 2rem;
  margin: 0;
  top: 0;
}

.nav_container a {
  color: white;
}

.nav_link {
  display: none;
}

.nav_link:hover {
  /* background-color: aliceblue; */
}

.nav_brand {
  font-size: large;
  font-family: "Playfair Display";
  position: absolute;
  left: 4%;
  max-width: 70%;
  line-height: 2rem;
}

@media (min-width: 1200px) {
  .nav_brand {
    font-size: x-large;
  }

  .burger {
    display: none;
  }

  .nav_link {
    margin: 2rem;
    display: inline;
  }
}

@media (min-width: 768px) {
  .nav_brand {
    max-width: 50%;
  }
}

.burger {
  right: 8%;
  top: 0;
  color: white;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  margin: 0;
}
