.container {
  position: absolute;
  width: 100%;
  height: calc(100% - var(--nav-height));
  background-image: url("/wave_cropped.jpg");
  background-size: cover;
  bottom: 0;
}

.action_items {
  position: absolute;
  left: 50%;
  top: 15%;
  font-size: 2rem;
  line-height: 3rem;
}

.action_items button {
  background-color: black;
  color: white;
  border: none;
  font-size: x-large;
  font-family: "Playfair Display", serif;
  border-radius: 5px;
  position: relative;
  left: 45%;
  padding: 1rem;
}

.action_items button:hover {
  cursor: pointer;
}

.quote {
  color: white;
  text-shadow: 2px 2px 3px #000000;
  margin-bottom: 4rem;
}
