.contact_button {
  background-color: var(--font-color-primary);
  border: none;
  color: white;
  padding: 1rem;
  margin: 0 1rem 4rem 1rem;
  border-radius: var(--border-radius);
  font-size: large;
  position: relative;
}

.contact_button a {
  color: white;
}

.contact_button:hover {
  cursor: pointer;
}
