/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
  font-family: "Tiro Devanagari Marathi", serif;
  color: var(--font-color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  line-height: 3rem;
}

h2 {
  line-height: 2rem;
}

p {
  color: var(--font-color-primary);
  font-size: 1.2rem;
}

:root {
  --nav-height: 7rem;
  --content-max-width: 46rem;
  --footer-height: 7rem;
  --color-primary: rgb(70, 130, 180);
  /* --color-primary: rgb(241, 221, 182); */
  --color-primary-hover: #5093c9;
  --color-secondary: #ffeccb;
  --border-radius: 4px;
  --grey: #363636;
  --grey-hover: #464646;
  --font-color-primary: #464646;
  --img-header-height: 32rem;
}
