/* cinzel-decorative-regular - latin */
@font-face {
  font-family: "Cinzel Decorative";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("/fonts/cinzel-decorative-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/cinzel-decorative-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cinzel-decorative-700 - latin */
@font-face {
  font-family: "Cinzel Decorative";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("/fonts/cinzel-decorative-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/cinzel-decorative-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* tiro-devanagari-marathi-regular - latin */
@font-face {
  font-family: "Tiro Devanagari Marathi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("/fonts/tiro-devanagari-marathi-v2-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/fonts/tiro-devanagari-marathi-v2-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.5rem;
  font-family: "Tiro Devanagari Marathi", serif;
  color: var(--font-color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  line-height: 3rem;
}

h2 {
  line-height: 2rem;
}

p {
  color: var(--font-color-primary);
  font-size: 1.2rem;
}

button {
  font-family: "Tiro Devanagari Marathi", serif;
}

:root {
  --nav-height: 7rem;
  --content-max-width: 46rem;
  --content-max-width-twocolumn: 64rem;
  --footer-height: 7rem;
  --color-primary: rgb(70, 130, 180);
  --color-primary-hover: #5093c9;
  --color-secondary: #ffeccb;
  --border-radius: 4px;
  --grey: #363636;
  --grey-hover: #464646;
  --font-color-primary: #464646;
  --img-header-height: 32rem;
  --inset-text: 2rem;
}
