.container {
  padding: 0;
}

.content_container {
  position: relative;
  margin-top: 8rem;
  padding: 2rem;
}

.welcome_content {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-max-width);
  /* text-align: center; */
}

.contact_refer_content {
  max-width: calc(1.2 * var(--content-max-width));
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.contact_refer {
  max-width: 95%;
  /* background-color: var(--color-secondary); */
  position: relative;
  padding: 3rem;
  box-shadow: 0 8px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .contact_refer {
    max-width: calc(1.5 * var(--content-max-width));
  }
}

.contact_button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: var(--border-radius);
  font-size: large;
  position: relative;
  left: 20%;
}

.contact_button:hover {
  cursor: pointer;
}

.nav_link {
  font-family: "Playfair Display", serif;
}
