.container {
  padding: 0;
}

.image_container {
  min-height: calc(100% - var(--nav-height));
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: absolute;
  top: var(--nav-height);
  left: 0;
}

.splash_container {
  position: absolute;
  width: 100%;
  height: calc(100% - var(--nav-height));
  background-image: url("/boat.jpg");
  background-size: cover;
  bottom: 0;
}

.action_items {
  position: absolute;
  left: 10%;
  top: 25%;
  font-size: 5rem;
}

.action_items button {
  background-color: black;
  color: white;
  border: none;
  font-size: x-large;
  font-family: "Playfair Display", serif;
  border-radius: 5px;
  position: relative;
  left: 45%;
  padding: 1rem;
}

.action_items button:hover {
  cursor: pointer;
}

.text {
  color: white;
  text-shadow: 2px 2px 3px #000000;
  margin-bottom: 4rem;
}

.content_container {
  position: absolute;
  top: 100%;
  width: 100%;
  margin: 2rem;
}

.content {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-max-width);
}
