.container {
  padding: 0;
  position: relative;
  top: var(--nav-height);
}

.image_header {
  position: relative;
  width: 100%;
  height: var(--img-header-height);
  background-image: url("/meadow_cropped.jpg");
  background-size: cover;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 4px #000000;
}

.image_header_beach {
  position: relative;
  width: 100;
  height: var(--img-header-height);
  background-image: url("/beach_cropped.jpg");
  background-size: cover;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 4px #000000;
}

.image_header_surf {
  position: relative;
  width: 100%;
  height: var(--img-header-height);
  background-image: url("/surf_cropped.jpg");
  background-size: cover;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 4px #000000;
}

.image_header_longboard {
  position: relative;
  width: 100%;
  height: var(--img-header-height);
  background-image: url("/longboard_cropped.jpg");
  background-size: cover;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 4px #000000;
}

.image_header_rental {
  position: relative;
  width: 100%;
  height: var(--img-header-height);
  background-image: url("/rental_cropped.jpg");
  background-size: cover;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 4px #000000;
}

.content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: var(--content-max-width-twocolumn);
  border-radius: var(--border-radius);
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

@media (min-width: 768px) {
  .content {
    display: grid;
    grid-template: auto 1fr / 50% auto;
    grid-gap: 16px 32px;
    margin-bottom: 5rem;
  }

  .action_items {
    font-size: 2rem;
    margin: 2rem;
  }
}

@media (max-width: 1200px) {
  .image_header_rental {
    position: relative;
    width: 100%;
    height: var(--img-header-height);
    background-image: url("/rental_tablet.jpg");
    background-size: cover;
    bottom: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 4px #000000;
  }
}

@media (max-width: 600px) {
  .image_header_longboard {
    position: relative;
    width: 100%;
    height: var(--img-header-height);
    background-image: url("/longboard_mobile.jpg");
    background-size: cover;
    bottom: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 4px #000000;
  }

  .image_header_surf {
    position: relative;
    width: 100%;
    height: var(--img-header-height);
    background-image: url("/surf_mobile.jpg");
    background-size: cover;
    bottom: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 4px #000000;
  }

  .image_header_rental {
    position: relative;
    width: 100%;
    height: var(--img-header-height);
    background-image: url("/rental_mobile.jpg");
    background-size: cover;
    bottom: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 4px #000000;
  }
}

.container h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 3rem;
}

.content_image {
  margin-bottom: 2rem;
}

.content_text {
  grid-column: 1;
}

.hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 2rem auto 3rem auto;
  width: 5rem;
}

.center {
  text-align: center;
}

.italics {
  font-size: 1.2rem;
}

.button {
  text-align: center;
  padding: 10rem;
}

.inset1 {
  padding-left: var(--inset-text);
}

.inset2 {
  padding-left: calc(2 * var(--inset-text));
}

.inset3 {
  padding-left: calc(3 * var(--inset-text));
}

.inset4 {
  padding-left: calc(4 * var(--inset-text));
}

.a {
  color: #0645ad;
}

.grid_button {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.emphasis {
  font-size: 1.4rem;
}

.page_content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: var(--content-max-width-twocolumn);
  border-radius: var(--border-radius);
  padding: 2rem;
  margin-top: 3rem;
}

.page_grid {
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: var(--content-max-width-twocolumn);
  border-radius: var(--border-radius);
  padding: 2rem;
  margin-bottom: 5rem;
}

.page_grid_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
  /* margin-left: 6rem; */
}

.text_standard {
  font-family: "Tiro Devanagari Marathi", serif;
}

.stylized {
  font-family: "Cinzel Decorative", cursive;
  font-weight: 600;
}

.image {
  max-width: 400px;
}

@media (max-width: 768px) {
  .page_grid {
    grid-template-columns: 1fr;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: var(--content-max-width-twocolumn);
    border-radius: var(--border-radius);
    padding: 2rem;
    margin-bottom: 5rem;
  }

  .page_grid_text {
    margin: 0;
  }

  .image {
    max-width: 100vw;
  }
}

.pagebreak {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.icons {
  margin: 1rem;
  width: 36px;
  height: 36px;
}

.fixed_layout {
  position: relative;
}
