.container {
  padding: 0;
  position: relative;
  top: var(--nav-height);
}

.image_header {
  position: relative;
  width: 100%;
  height: var(--img-header-height);
  background-image: url("/meadow_cropped_narrow.jpg");
  background-size: cover;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 4px #000000;
}

.image_header_beach {
  position: relative;
  width: 100;
  height: var(--img-header-height);
  background-image: url("/beach_cropped.jpg");
  background-size: cover;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 4px #000000;
}

.image_header_surf {
  position: relative;
  width: 100%;
  height: var(--img-header-height);
  background-image: url("/surf_cropped.jpg");
  background-size: cover;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 4px #000000;
}

.content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: var(--content-max-width-twocolumn);
  border-radius: var(--border-radius);
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media (min-width: 1200px) {
  .content {
    display: grid;
    grid-template: auto 1fr / 1fr 40%;
    grid-gap: 32px;
  }

  .action_items {
    font-size: 2rem;
    margin: 2rem;
  }
}

.container h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: 3rem;
}

.content_image {
  margin-bottom: 6rem;
  margin-top: 19.2px;
}

.content_text {
  grid-column: 1;
}

.hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  border: 0;
  border-top: 2px solid #ccc;
  margin: 2rem auto 3rem auto;
  width: 5rem;
}
