.container {
  padding: 0;
  position: relative;
  top: var(--nav-height);
}

.image_container {
  min-height: calc(100% - var(--nav-height));
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: absolute;
  top: var(--nav-height);
  left: 0;
}

.image {
  position: absolute;
  /* -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  ); */
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.splash_container {
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
  position: absolute;
  top: var(--nav-height);
  width: 100%;
  height: calc(100% - var(--nav-height));
  background-image: url("/meadow.jpg");
  background-size: cover;
  bottom: 0;
}

.action_items {
  position: absolute;
  left: 50%;
  top: 15%;
  font-size: 2rem;
  line-height: 3rem;
}

.action_items button {
  background-color: black;
  color: white;
  border: none;
  font-size: x-large;
  font-family: "Playfair Display", serif;
  border-radius: 5px;
  position: relative;
  left: 45%;
  padding: 1rem;
}

.action_items button:hover {
  cursor: pointer;
}

.text {
  color: white;
  text-shadow: 2px 2px 3px #000000;
  margin-bottom: 4rem;
}

.content_container {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 2rem;
}

.content {
  /* position: absolute; */
  position: relative;
  top: var(--nav-height);
  left: 50%;
  transform: translateX(-50%);
  max-width: var(--content-max-width);
  background-color: rgb(255, 255, 255, 0.65);
  border-radius: 8px;
  padding: 2rem;
}
